<!-- <div>
  Component A : {{result}}
</div> -->
<mat-card style="height: 150px;margin-right: 10px;margin-top: 10px;border: 1px solid black">
  <div style="margin-top: -32px;background-color: white;width: 100px">Component A</div>
  <div style="margin-top: 50px">My result : {{result}}</div>
</mat-card>
