<mat-card style="margin-top: 10px;margin-bottom: 10px;text-align: center">
  <input type="number" [(ngModel)]="numberA"> + <input type="number" [(ngModel)]="numberB"> <button (click)="count(numberA,numberB)">AC</button>
</mat-card>
