<mat-card style="text-align: center">
  <h1>Observable Demo</h1>
</mat-card>
<app-home></app-home>
<mat-card layout="row">
  <app-a flex="33"></app-a>
  <app-b flex="33"></app-b>
  <app-c flex="33"></app-c>
</mat-card>